@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;
 
@model TestApp.Utilities.EmployeesPaging;
  
<div class="container">
    Search Employees Page

    <table class="table table-responsive table-striped table-bordered">
       
        @foreach(var deptGroup in Model.FilteredEmployees.GroupBy(dept => dept.EmployeeDepartmentName))
            {
            <tr>
                <td>
                    <table>
                        <tr>
                            <td colspan="2"> @deptGroup</td>
                        </tr>
                    </table>

                </td>
            
            </tr>
              
            }

    </table>

</div>